/*  your css code here. If applicable */
.container{
	display:grid;
	grid-template-rows:1fr 9fr;
	height:100vh;
	width:100vw;
}
.header{
	background-color:#011e29;
	color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	padding:4px;
	
}
header{
	text-align:center;
}
main{
	background-color:#f5f5f5;
	display:flex;
	gap:10px;
	justify-content:center;
}
.pictorial-news-section{
	display:flex;
	flex-direction:column;
	gap:10px;
	justify-content:center;
	align-items:center;
	background-color:white;
	border-radius:20px;
	padding:10px;
	width:20%;
	text-align:center;
}
.latest-news-section{
	background-color:white;
	width:20%;
	height:fit-content;
	padding:10px;
	border-radius:20px;
}
.main-article{
	width:45%;
	background-color:white;
	height:fit-content;
	border-radius:20px;
	padding:10px;
}
.pictorial-news-section img{
	height:80px;
	width:150px;
}